/* Colours and styling */
:root {
    --white: #fff;
    --bg1: #2F2F2F;
    --bg2: #202020;
    --button: #FF8838;
    --hover: #FF7B23;
    --black: #000;
    --gradientColour: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg2);
    width: 100%;
    padding: 1rem;
    z-index: 1000;

    .logo{
        color: var(--white);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
            font-size: 25px;
            color: var(--white);
            transform: translateY(5px);
        }
    }

    @media screen and (max-width: 768px) {
        .navBar{
            position: absolute;
            background: var(--bg2);
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            top: -500rem;
            left: 50%;
            padding: 1rem;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2,15,29,0.904);
            transition: .5s ease-in-out;


            .navLists{
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: auto;
                padding: .5rem 0;

                .navItem{
                    padding: .5rem 0;


                    .navLink{
                        color: var(--white);
                        font-size: .9rem;
                        font-weight: 600;
                        &:hover{
                            color: var(--hover);
                        }
                    }
                }

                .btn{
                    margin-top: 1rem;

                    a{
                        font-weight: 600;
                        color: var(--white);
                    }
                }
            }

            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--button);
                &:hover{
                    color: var(--hover);
                }
            }
        }

        .activeNavbar{
            top: 7rem;
            background: var(--bg2);
        }
    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
            color: var(--white);
        }
        &:hover.icon{
            color: var(--hover);
        }
    }
}

@media screen and (min-width: 769px) {
    .toggleNavbar,.closeNavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;
        
        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;

                .navItem{
                    .navLink{
                        color: var(--white);
                        padding: 1rem;
                        font-size: 0.9rem;
                        font-weight: 500;

                        &:hover{
                            color: var(--hover);
                        }
                    }

                }

                .btn{
                    margin-left: 1rem;
                    a{
                        color: var(--white);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media  screen and (min-width: 960px) {
    .header{
        .navBar{
            .navLists{
                .navItem{
                    padding: 0 0.7rem;
                }
            }
        }
    }
    
}

@media  screen and (min-width: 1240px) {
    .header{
        padding: 1rem 8.5rem;
    }
    
}